/* style.css */

/* Basic Style */

.container {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* Header */

.header {
  width: 500px;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

/* Main section */

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 500px;
}

.section__heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 0 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* Task list */

.task-list {
  margin: 0;
  padding: 0;
}

.task-list___item {
  list-style: none;
}

/* Task item */

.task {
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  align-items: center;
}

.task__check {
  margin: 0 10px;
  flex-shrink: 0;
}

.task__item-text {
  overflow: hidden;
  flex-grow: 1;
}

.task__label {
  padding-left: 10px;
  font-size: 18px;
}

.task__label_mode_edit {
  display: none;
}

.task__label_completed {
  text-decoration: line-through;
  color: #888;
}

.task__input {
  display: none;

  outline: none;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task__input:focus {
  color: #333;
}

.task__input_mode_edit {
  display: inline-block;
}

/* Button */

.button {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  font-family: Lato, sans-serif;
  cursor: pointer;

  width: 60px;
  flex-shrink: 0;
}

.button:hover {
  color: #3a3a3a;
}

.button__image {
  height: 2em;
}

.button__image_action_delete {
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button__image_action_delete:hover {
  transform: rotateZ(0);
}

/* __EOF__ */
